body:is(.dark *)::before {
    position: fixed;
    inset: 0px;
    content: var(--tw-content);
    background-color: rgb(0 0 0 / 0.92);
}
@media (min-width: 768px) {
    .float-left-portrait {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        width: 270px;
        max-height: 700px;
        object-fit: cover;
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .float-left-portrait {
        width: 300px;
        max-height: 700px;
    }
}