{{ define "main" }}
{{ $sass := resources.Get "scss/home.scss" }}
{{ $style := $sass | resources.ToCSS | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
<main>
    <header>
        <h1>Bem-vindo ao {{ .Title }}!</h1>
    </header>
    <section class="presentation">
        <div class="presentation-start">
            <div class="presentation-start-text">
                <p>Meu nome é {{ .Param "name" }} e sou o criador deste espaço virtual, onde pretendo compartilhar meus pensamentos e análises sobre filosofia, política, tecnologia, ciência e muitos outros assuntos, de um ponto de vista pragmático, ou seja, procurando sempre encontrar soluções práticas e eficientes para os problemas que enfrentamos.</p>
                <p>Acredito que é importante manter uma mente aberta e estar disposto a considerar diferentes perspectivas, mas também é fundamental ter um pensamento crítico e avaliar as coisas de maneira lógica e racional. Por isso, em meus textos, procuro apresentar argumentos de maneira clara e direta, sem deixar de lado a profundidade e a reflexão que cada assunto merece.</p>
            </div>
            <figure class="presentation-image">
                {{ $image := resources.Get "images/image.webp" }}
                <img src="{{ $image.RelPermalink }}" alt="An expressive oil painting of a italian man, with long hair and short beard, thinking, depicted as an explosion of a nebula" width="{{ $image.Width }}" height="{{ $image.Height }}">
            </figure>
        </div>
        <div>
            <p>Espero que você goste do que leu ou lerá aqui, e volte sempre para ver mais conteúdos interessantes. Obrigado por visitar!</p>
            <p>Um abraço,</p>
            <p>{{ .Param "name" }}</p>
        </div>
    </section>
</main>
{{ end }}
